.idea/
raft/raft

wizeNode/log/*
wizeNode/wizeNode

wizeWallet/log/*
wizeWallet/wizeWallet

# trash
trash/*

# database
wizeNode/files/db*/wizebit.db
wizeNode/files/wallet*/wallet.dat

wizeWallet/wallet*.dat

# testing
wizeNode/blockchain/files
wizeNode/startnode.sh