.idea/
wizeNode/log/*
wizeNode/wizeNode
code_file/
code_network/
raft/raft
wizeNode/files/db/wizebit*
wizeNode/files/wallets/wallet_3001.dat

# testing
wizeNode/blockchain/files
wizeNode/startnode.sh
.env